@import './shared';

* {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: $body-font-size;
    cursor: default;
}

body {
    max-width: 1440px;
    height: 100vh;
    margin: auto;
    display:flex; 
    flex-direction:column; 
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}