@import './shared';

.footer-banner {
    margin-top:auto;
    background: url('../assets/bg-boost-desktop.svg') no-repeat center;
    background-color: $primary-color-violet;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px;
}

.footer-banner-title {
    color: #fff;
    font-size: 38px;
    margin-bottom: 25px;
}