@import './shared';

.header, .nav-content, .header-account, .header-nav {
    display: flex;
    flex-direction: row;
    font-weight: $font-weight-bold;
    align-items: center;
}

.header {
    justify-content: space-between;
    margin: 5% 10%;
}

.header a {
    color: $neutral-color-Gviolet;
}

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.header-nav {
    margin-left: 50px;
    gap: 30px;
}

.header-nav a:hover {
    color: $neutral-color-Dviolet;
    transition: all 0.2s;
}

.header-account {
    gap: 30px;
}

.login a:hover {
    color: $neutral-color-Dviolet;
    transition: all 0.2s;
}

.signup a {
    background-color: $primary-color-cyan;
    color: #FFF;
    padding: 8px 25px;
    border-radius: 50px;
}

.signup a:hover {
    background-color: lighten($primary-color-cyan, 17%);
    transition: all 0.2s;
}

// mobile version 

@media all and (max-width: 1024px) {
    .header {
        margin: 8% 6%;;
    }

    .nav-content {
        justify-content: space-between;
        width: 100%;
        position: relative;
    }

    .menu-icon {
        width: 30px;
        height: 30px;
    }

    .toggle-menu-nav {
        width: 100%;
        height: 360px;
        background: $primary-color-violet;
        position: absolute;
        top: 55px;
        right: 0;
        z-index: 2;
        border-radius: 10px;
    }

    .toggle-nav  {
        display: flex;
        flex-direction: column;
        height: 55%;
        justify-content: space-evenly;
        align-items: center;
    }

    .toggle-nav a {
        color: #FFF;
    }

    hr {
        width: 85%;
        opacity: 0.3;
        margin: auto;
    }

    .header-account {
        flex-direction: column;
        height: 30%;
        justify-content: space-evenly;
        margin-top: 15px;
    }

    .login a {
        color: #FFF;
    }

    .signup a {
        padding: 8px 95px;
    }
}
