@import "./shared";

.infos-section {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 12%;
    margin-top: 5%;
    gap: 10px
}

.infos-text-content {
    margin-left: 10%;
    width: 53%;
    margin-top: 5%;
}

.infos-title {
    font-size: 82px;
    line-height: 105px;
    color: $neutral-color-blue;
    max-width: 688px;
}

.infos-paragraph {
    color: $neutral-color-Gviolet;
    font-size: 24px;
    width: 90%;
    line-height: 42px;
    margin-top: 5px;
    margin-bottom: 50px;
    max-width: 620px;
}

.started-btn {
    background: $primary-color-cyan;
    border: none;
    border-radius: 50px;
    padding: 15px 45px;
    color: #fff;
    font-weight: $font-weight-bold;
}

.started-btn:hover {
    background-color: lighten($primary-color-cyan, 17%);
    transition: all 0.2s;
}

.infos-image-content {
    width: 47%;
    height: 500px;
    position: relative;
}

.infos-image {
    background: url('../assets/illustration-working.svg') no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 2%;
}

.stats-section {
    background: hsla(258, 7%, 63%, 0.123);
    height: 100%;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    padding-top: 110px;
    margin-top: 60px;
}

.stats-cards {
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin: 8% 10%;
    position: relative;
    min-height: 360px;
}

.stats-cards::after {
    content: "";
    width: 100%;
    height: 8px;
    background: $primary-color-cyan;
    position: absolute;
    top: 150px;
    left: 0;
    z-index: -1;
}

.stats-card:nth-child(1) {
    align-self: flex-start;
}

.stats-card:nth-child(2) {
    align-self: center;
}

.stats-card:nth-child(3) {
    align-self: flex-end;
}

.stats-title {
    font-size: 38px;
    color: $neutral-color-blue;
}

.stats-paragraph {
    color: $neutral-color-Gviolet;
    max-width: 510px;
    margin: 10px auto;
}

.stats-text {
    padding-top: 10%;
}

@media all and (max-width: 1200px) {
    .infos-title {
        font-size: 72px;
        line-height: 95px;
    }
}

// mobile version 

@media all and (max-width: 1024px) {
    .infos-section {
        flex-direction: column-reverse;
    }

    .infos-image-content {
        width: 100%;
        height: 500px;
        overflow: hidden;
    }

    .infos-image {
        width: 130%;
        height: 100%;
        background-size: contain;
        right: -35%;
    }

    .infos-text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .infos-title, .infos-paragraph {
        max-width: 100%;
        width: 90%;
    }

    .infos-title {
        font-size: 44px;
        line-height: 48px;
    }

    .infos-paragraph {
        font-size: 18px;
        line-height: 30px;
        margin-top: 10px;
    }    
    
    .stats-title {
        font-size: 28px;
    }

    .stats-paragraph {
        font-size: 16px;
        max-width: 80%;
    }

    .stats-cards {
        flex-direction: column;
        margin: 5% 6.5%;
    }

    .stats-card {
        max-width: 460px;
    }

    .stats-cards::after {
        content: "";
        width: 8px;
        height: 80%;
        background: $primary-color-cyan;
        position: absolute;
        top: 10%;
        left: 50%;transform: translateX(-50%);
    }
}

@media all and (min-width: 560px) {
    .infos-image-content {
        margin-bottom: 50px;
    }
}