@import "./shared";

.infos-section {
    max-width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    margin-bottom: 12%;
    margin-top: 5%;
}

.infos-text-content {
    margin-left: 10%;
    width: 53%;
    margin-top: 5%;
}

.infos-title {
    font-size: 82px;
    line-height: 105px;
    color: $neutral-color-blue;
    max-width: 688px;
}

.infos-paragraph {
    color: $neutral-color-Gviolet;
    font-size: 24px;
    width: 90%;
    line-height: 42px;
    margin-top: 5px;
    margin-bottom: 50px;
    max-width: 620px;
}

.started-btn {
    background: $primary-color-cyan;
    border: none;
    border-radius: 50px;
    padding: 15px 45px;
    color: #fff;
    font-weight: $font-weight-bold;
}

.started-btn:hover {
    background-color: lighten($primary-color-cyan, 17%);
    transition: all 0.2s;
}

.infos-image-content {
    width: 47%;
    height: 100%;
    position: relative;
}

.infos-image {
    background: url('../assets/illustration-working.svg') no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 2%;
}

.stats-section {
    background: hsla(258, 7%, 63%, 0.123);
    height: 100%;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    padding-top: 110px;
    margin-top: 60px;
}

.stats-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 8% 10%;
    position: relative;
}

.stats-cards::after {
    content: "";
    width: 100%;
    height: 8px;
    background: $primary-color-cyan;
    position: absolute;
    top: 150px;
    left: 0;
    z-index: -1;
}

.stats-card:nth-child(2) {
    margin-top: 50px;
}

.stats-card:nth-child(3) {
    margin-top: 100px;
}

.stats-title {
    font-size: 38px;
    color: $neutral-color-blue;
}

.stats-paragraph {
    color: $neutral-color-Gviolet;
    max-width: 510px;
    margin: 10px auto;
}

.stats-text {
    padding-top: 10%;
}