@import './shared';

.shorten-link-content {
    display: contents;
}

.shorten-link-box {
    max-width: 1110px;
    width: 88%;
    margin: 0 10%;
    background: url("../assets/bg-shorten-desktop.svg") no-repeat center; 
    background-color:$primary-color-violet;
    height: 168px;
    border-radius: 10px;
    position: absolute;
    top: -84px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shorten-link-input {
    border-radius: 5px;
    height: 60px;
    border: none;
    width: 66%;
    padding-left: 40px;
    cursor: text;
}

.shorten-link-button {
    border-radius: 10px;
    height: 60px;
    border: none;
    width: 16%;
    margin-left: 25px;
    background: $primary-color-cyan;
    color: #ffffff;
    font-weight: $font-weight-bold;
    cursor: pointer;
}

::placeholder {
    color: $neutral-color-Gviolet;
}

.shorten-link-button:hover {
    background-color: lighten($primary-color-cyan, 17%);
    transition: all 0.2s;
}

.box-warning {
    border: 3px solid $secondary-color;
}

.warning {
    position: absolute;
    bottom: 20px;
    left: 65px;
    color: $secondary-color;
    font-size: 16px;
    font-style: italic;
}

.new-shortened-link:nth-child(1) {
    margin-top: 80px;
}

.shorten-link {
    color: $primary-color-cyan;
}

.new-shortened-link {
    width: 74.5%;
    max-width: 1050px;
    height: 80px;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
}

.new-shortened-link p.link {
    text-align: left;
    white-space: nowrap;
    max-width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shortened-link {
    display: flex;
    align-items: baseline;
}

.copy-button {
    border-radius: 5px;
    height: 40px;
    border: none;
    width: 100px;
    margin-left: 25px;
    background: $primary-color-cyan;
    font-size: 15px;
    color: #ffffff;
    font-weight: $font-weight-bold;
    cursor: pointer;
}

.copy-button-active {
    background: $primary-color-violet!important;
}

.copy-button:hover {
    background-color: lighten($primary-color-cyan, 17%);
    transition: all 0.2s;
}

input:focus {
    outline: none;
}

// mobile version 

@media all and (max-width: 1024px) {
    .shorten-link-box {
        flex-direction: column;
    }

    .shorten-link-box {
        // padding: 20px 0px;
        background: url("../assets/bg-shorten-mobile.svg") no-repeat top right;
        background-color:$primary-color-violet;
    }

    .shorten-link-input {
        width: 81.5%;
        padding-left: 10px;
        margin-bottom: 30px;
        height: 50px;
    }

    .shorten-link-button {
        width: 85%;
        margin-left: 0;
        max-width: 281px;
        height: 50px;
    }

    .warning {
        bottom: 75px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        font-size: 12px;
    }

    .new-shortened-link {
        height: 145px;
        padding: 0 30px;    
        flex-direction: column;
        position: relative;
    }

    .new-shortened-link::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: $neutral-color-gray;
        top: 45px;
        opacity: 0.6;
    }

    .new-shortened-link p.link {
        max-width: 100%;
        width: 100%;
        margin-top: 11px;
        font-size: 16px;
    }

    .shorten-link {
        margin-bottom: 10px;
        text-align: left;
        font-size: 16px;
    }

    .shortened-link {
        flex-direction: column;
        margin-bottom: 15px;
        width: 100%;
    }

    .copy-button {
        margin: auto;
        width: 100%;
        max-width: 280px;
    }
}