@import './shared';

.shorten-link-content {
    display: contents;
}

.shorten-link-box {
    max-width: 1110px;
    width: 100%;
    margin: 0 10%;
    background: url("../assets/bg-shorten-desktop.svg") no-repeat center; 
    background-color:$primary-color-violet;
    height: 168px;
    border-radius: 10px;
    position: absolute;
    top: -84px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shorten-link-input {
    border-radius: 10px;
    height: 60px;
    border: none;
    width: 66%;
    padding-left: 40px;
    cursor: text;
}

.shorten-link-button {
    border-radius: 10px;
    height: 60px;
    border: none;
    width: 16%;
    margin-left: 25px;
    background: $primary-color-cyan;
    color: #ffffff;
    font-weight: $font-weight-bold;
    cursor: pointer;
}

::placeholder {
    color: $neutral-color-Gviolet;
}

.shorten-link-button:hover {
    background-color: lighten($primary-color-cyan, 17%);
    transition: all 0.2s;
}

.box-warning {
    border: 3px solid $secondary-color;
}

.warning {
    position: absolute;
    bottom: 20px;
    left: 65px;
    color: $secondary-color;
    font-size: 16px;
    font-style: italic;
}

.new-shortened-link:nth-child(1) {
    margin-top: 80px;
}

.new-shortened-link {
    width: 100%;
    max-width: 1050px;
    height: 80px;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
}

.new-shortened-link p {
    text-align: left;
    white-space: nowrap;
    max-width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.copy-button {
    border-radius: 5px;
    height: 40px;
    border: none;
    width: 100px;
    margin-left: 25px;
    background: $primary-color-cyan;
    font-size: 15px;
    color: #ffffff;
    font-weight: $font-weight-bold;
    cursor: pointer;
}

.copy-button-active {
    background: $primary-color-violet!important;
}

.copy-button:hover {
    background-color: lighten($primary-color-cyan, 17%);
    transition: all 0.2s;
}

input:focus {
    outline: none;
}