@import './shared';

.stats-card {
    width: 100%;
    background: #fff;
    border-radius: 7px;
    text-align: left;
    min-height: 260px;
    max-height: 260px;
    position: relative;
}

.card-title {
    font-size: 22px;
    color: $neutral-color-Dviolet;
    margin: 70px 37px 20px 37px;
}

.card-paragraph {
    font-size: 15px;
    color: $neutral-color-Gviolet;
    line-height: 26px;
    margin: 0px 37px 40px 37px;
}

.stats-image-bg {
    background: $primary-color-violet;
    border-radius: 50%;
    padding: 20px 23px 16px 23px;
    position: absolute;   
    left: 37px;
    top: -45px;
}

.stats-icon {
    height: 100%;
    width: 100%;
}